<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
	<test name="Test">
		<classes>
			<class name="com.icix.browserinstance.BrowserInstance" />
			<class name="com.icix.producttest.QA_28_Test">
				<methods>
					<include name="OpenRequestPage"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>